= simple_form_for resource do |f|
  = f.input :name
  = f.input :description

  = f.button :submit, class: 'btn-primary'

= render 'child_list', association: :members
= render 'child_list', association: :mentors
