= f.simple_fields_for :vcard do |vcard|
  - if defined?(full_name)
    .row
      .input-field.col.s12= vcard.input :full_name
  - else
    .row
      .input-field.col.s6= vcard.input :family_name
      .input-field.col.s6= vcard.input :given_name
  = vcard.fields_for :address do |address|
    .row
      .input-field.col.s6= address.input :extended_address
      .input-field.col.s6= address.input :street_address
    .row
      .input-field.col.s2= address.input :postal_code
      .input-field.col.s4= address.input :locality
      .input-field.col.s6= address.input :post_office_box

