= simple_form_for resource do |f|
  .row
    .col-md-6= f.input :email
    .col-md-6= f.input :login if @user.respond_to? :login
  .row
    .col-md-6= f.input :password, :hint => !f.object.new_record?, :input_html => {:autocomplete => "off"}
    .col-md-6= f.input :password_confirmation
  - unless can?(:manage, User)
    .row
      .col-md-6= f.input :current_password, :required => true

  = f.button :submit

