.row
  .col.s12
    %ul.tabs
      %li.tab.col.s3
        = link_to 'New experts', '#new-mentors'
      %li.tab.col.s3
        = link_to 'New members', '#new-members'
      %li.tab.col.s3
        = link_to 'Never signed in', '#unconfirmed'
      %li.tab.col.s3
        = link_to 'All', '#all'

#new-mentors
  = render 'profile_list', collection: @mentors_with_no_user

#new-members
  = render 'profile_list', collection: @members_with_no_user

#unconfirmed
  = render 'list', collection: collection.where(sign_in_count: 0)

#all
  = render 'list', collection: collection
