%li.collection-item.avatar[profile]
  = image_tag profile.avatar_url, class: 'circle'
  .title= profile
  %p
    = t_model profile.class
    = "<%s>" % profile.vcard.contacts.email.first
  .secondary-content
    - if can?(:new, profile.class)
      .fixed-action-btn.horizontal
        = link_to create_for_profile_users_path(user: {profile_id: profile.id, profile_type: profile.class}), remote: true, method: :post, class: "btn-floating blue" do
          %i.large.material-icons add
