%h2 Change your password
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = f.hidden_field :reset_password_token

  = f.input :password, input_html: { autofocus: true }
  = f.input :password_confirmation, input_html: { autocomplete: 'off' }

  .row
    .col.s6
      = f.submit "Change my password", class: "waves-effect waves-light btn light-green"

= render "devise/shared/links"
