= simple_form_for resource do |f|
  = render 'form_base', f: f


  -# when nested under team there is no need for a select field
  - if Team == parent_class && resource.team.blank?
    .row= f.association :team
  - else
    = f.hidden_field :team_id

  -# when nested under team the mentor is pre-populated
  - if Team == parent_class && resource.team.blank?
    .row= f.association :mentor
  - else
    = f.hidden_field :mentor_id

  .row
    .col.s12= f.button :submit

= render 'attendances_form'
