= simple_form_for resource do |f|
  = render partial: "events/form_base", locals: {f: f}

  .row
    = f.association :mentor
  .row
    = f.association :team

  .row
    .input-field.col.s12
      = f.button :submit, class: 'btn-primary'


