#events
  - @events.each_with_index do |event, index|
    / Add a paralax container if there is a new month
    - if event.start_at.strftime("%m") != @events[index - 1].start_at.strftime("%m")
      .parallax-container
        .parallax
          %img{src: image_path("timeline_#{event.start_at.strftime("%m")}.png")}/

    .row
      / Month section if a new month
      .col.s4.m2.l2
        - if event.start_at.strftime("%m") != @events[index - 1].start_at.strftime("%m") || index == 0
          .month.left
            %h4= event.start_at.strftime("%b")
        - if event.start_at.strftime("%d%m") != @events[index - 1].start_at.strftime("%d%m")
          .day.left{id: event.start_at.today? ? 'today' : nil}
            %a.btn-floating.btn-large.waves-effect.waves-light{id: index}
              = event.start_at.strftime("%d")
        &nbsp;

      / Add the event cards
      .col.s8.m10.l8.section.event
        .card{class: colors(index)}
          .card-content.black-text
            %span.card-title= event.summary
            %p
              = event.description
            %p.datetime
              %span
                Starting at:
              %i.fa.fa-clock-o
              = event.start_at.strftime("%H:%M")
              &nbsp;
              %i.fa.fa-calendar
              = event.start_at.strftime("%d.%m")
            %p.datetime
              %span
                Ending at:
              %i.fa.fa-clock-o
              = event.end_at.strftime("%H:%M")
              &nbsp;
              %i.fa.fa-calendar
              = event.end_at.strftime("%d.%m")
          .card-action
            - if can?(:edit, event) && event.persisted?
              %a{ href: url_for([:edit, event])} Edit event
            .avatars
              - event.attendances.each_with_index do |a, i|
                = image_tag a.guest.avatar_url, class: 'circle', style: "right: #{i*40}px"
