#events
  - @events.each_with_index do |event, index|
    / Add a paralax container if there is a new month
    - if event.start_at.strftime("%m") != @events[index - 1].start_at.strftime("%m")
      .parallax-container
        .parallax
          %img{src: image_path("background_#{event.start_at.strftime("%m")}.jpg")}/

    .row
      / Month section if a new month
      .col.s4.m2.l2
        - if event.start_at.strftime("%m") != @events[index - 1].start_at.strftime("%m") || index == 0
          .month.left
            %h4= event.start_at.strftime("%b")
        - if event.start_at.strftime("%d%m") != @events[index - 1].start_at.strftime("%d%m")
          .day.left{id: event.start_at.today? ? 'today' : nil}
            %a.btn-floating.btn-large.waves-effect.waves-light.light-green.date-circle{id: index}= event.start_at.strftime("%d")
        &nbsp

      / Add the event cards
      .col.s8.m10.l8.section.event
        .card.amber{class: colors(index)}
          .card-content.black-text
            %span.card-title= event.summary
            %p
              = event.description
            %p
              Starting at: <br><i class="fa fa-clock-o"></i> #{event.start_at.strftime("%H:%M") }  <i class="fa fa-calendar"></i> #{event.start_at.strftime("%d.%m") }
            %p
              Ending at:<br><i class="fa fa-clock-o"></i> #{event.end_at.strftime("%H:%M") } <i class="fa fa-calendar"></i> #{event.end_at.strftime("%d.%m") }
          .card-action
            - if can?(:edit, event) && event.persisted?
              %a.indigo-text{ href: edit_event_path(event)} Edit event
