= simple_form_for [parent, resource], remote: true, wrapper: :materialize_form_no_col do |f|
  = f.input :team_id, as: :hidden
  = f.input :event_id, as: :hidden
  - Rating.vote_topics.each_slice(2) do |vote_topics|
    .row
      - vote_topics.each do |vote_key, vote_label|
        .col.s6
          .card
            .card-content
              = f.label vote_label, class: 'card-title', required: false
              = f.input vote_key, as: :hidden, input_html: { class: 'js-rating-input' }
  .row
    .col.s12
      = f.input :comment

  = f.button :submit
