= simple_form_for resource, wrapper: :materialize_form_no_col do |f|
  - Rating.vote_topics.keys.each_slice(2) do |vote_topics|
    .row
      - vote_topics.each do |vote_topic|
        .col.s6
          .card
            .card-content
              = f.label vote_topic, class: 'card-title'
              = f.input vote_topic, as: :hidden, input_html: { class: 'js-rating-input' }
  .row
    .col.s12
      = f.input :comment

  = f.button :submit
