#expert-sessions
  .unconfirmed.section
    %h4= 'Waiting for Answer'
    = render 'list', collection: @unconfirmed_expert_sessions, resource_class: ExpertSession

  .confirmed.section
    %h4= 'Confirmed'
    = render 'list', collection: @confirmed_expert_sessions, resource_class: ExpertSession

  .fresh.section
    %h4= 'New/No pending Requests'
    %div(style="position: relative")
      .fixed-action-btn.horizontal(style="position: absolute")
        = link_to new_mentor_expert_session_path(resource), remote: true, class: "btn-floating btn-medium blue" do
          %i.large.material-icons add

    = render 'list', collection: @fresh_expert_sessions, resource_class: ExpertSession
