.section
  = simple_form_for resource do |f|
    .row= f.input :job_title
    .row= f.input :who_i_am
    .row= f.input :experience
    .row= f.input :interests
    .row= f.input :motivation

    .row= f.input :avatar, label: false, wrapper_html: { class: 'file-field input-field' }

    = render 'vcards/form', f: f

    .row
      .col.s12= f.button :submit

.divider
.section
  = render 'teams/list', collection: resource.teams
  - if resource.user
    = render 'users/list', collection: [ resource.user ]

