= simple_form_for resource do |f|
  = f.input :job_title
  = f.input :who_i_am
  = f.input :experience
  = f.input :interests
  = f.input :motivation

  = f.button :submit, class: 'btn-primary'

- unless resource.new_record?
  .contextual.btn-group
    = icon_link_to :new, new_mentor_team_mentor_path(mentor_id: resource), class: 'btn btn-secondary'

  %h3= t_model Team
    = render 'list', collection: resource.teams, resource_class: Team
