= simple_form_for resource do |f|
  - if defined?(team_id) && team_id.present?
    = hidden_field_tag :team_id, team_id

  .row
    .col.s12.m4
      .card.medium.z-depth-1
        .card-image.full
          %img{name: 'mentor[avatar]', alt: "no avatar uploaded yet", src: resource.avatar.url }/
        .card-action
          = f.input :avatar, as: :image_preview, label: 'upload avatar', label_html: { class: 'waves-effect waves-light btn waves-input-wrapper' }

    .col.s12.m8
      .card.z-depth-1
        .card-content
          %span.card-title Personal information
          = render 'vcards/form', f: f

    .col.s12
      .card.z-depth-1
        .card-content
          .row= f.input :job_title, wrapper_class: 'col s12'
          .row= f.input :who_i_am, wrapper_class: 'col s12'
          .row= f.input :experience, wrapper_class: 'col s12'
          .row= f.input :interests, wrapper_class: 'col s12'
          .row= f.input :motivation, wrapper_class: 'col s12'
        .card-action
          = f.button :submit

- if resource.persisted?
  %h4= t_title(:index, ExpertSession)
  %div(style="position: relative")
    .fixed-action-btn.horizontal(style="position: absolute")
      = link_to new_mentor_expert_session_path(resource), remote: true, class: "btn-floating btn-medium blue" do
        %i.large.material-icons add
  = render 'list', collection: resource.expert_sessions.upcoming, resource_class: ExpertSession

  %h4= t_title(:index, Mentoring)
  %div(style="position: relative")
    .fixed-action-btn.horizontal(style="position: absolute")
      = link_to new_team_mentoring_path(resource), remote: true, class: "btn-floating btn-medium blue" do
        %i.large.material-icons add
  = render 'list', collection: resource.mentorings.upcoming, resource_class: Mentoring

  %h4= t_title(:index, Team)
  = render 'list', collection: resource.teams, resource_class: Team

  = render 'users/profile'
