- guest = attendance.guest
%li.collection-item.avatar[attendance]
  = image_tag guest.avatar_url, class: 'circle'
  .title= link_to guest, guest
  .secondary-content
    .fixed-action-btn.horizontal
      .btn-floating.btn-large{class: state_color(attendance.state)}
        %i.large.material-icons= state_icon(attendance.state)

      %ul
        %li
          - if can? :attend, attendance
            = link_to [:attend, attendance.event, attendance], method: :post, remote: true, class: "btn-floating green" do
              %i.material-icons event_available
        %li
          - if can? :decline, attendance
            = link_to [:decline, attendance.event, attendance], method: :post, remote: true, class: "btn-floating red" do
              %i.material-icons event_busy

