!!!
%html
  %head

    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %meta(http-equiv="x-ua-compatible" content="ie=edge")
    %title Ananas
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-light.bg-faded
      = link_to Ananas, :root, class: 'navbar-brand'
      .nav.navbar-nav
        %li.nav-item
          = link_to t_model(Team), :teams, class: 'nav-link'
        %li.nav-item
          = link_to t_model(Mentor), :mentors, class: 'nav-link'
        %li.nav-item
          = link_to t_model(Member), :members, class: 'nav-link'
        %li.nav-item
          .nav-link= current_user.to_s if user_signed_in?

    .container
      - if notice
        %p.alert.alert-info= notice
      - if alert
        %p.alert.alert-danger= alert

      = yield
