!!!
%html
  %head

    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %meta(http-equiv="x-ua-compatible" content="ie=edge")
    %title Ananas
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: [controller_name, action_name]}
    .navbar-fixed
      %nav.nav-wrapper.deep-orange.darken-4
        %ul.left
          - if user_signed_in?
            %li= link_to t_title(:timeline, Event), timeline_events_path
            %li= link_to t_model(Event), :events
            %li= link_to t_model(Team), :teams
            %li= link_to t_model(Member), :members
            %li= link_to t_model(Mentor), :mentors
            - if can?(:manage, User)
              %li= link_to t_model(User), :users
        %ul.right
          - if user_signed_in?
            %li
              = link_to '#', class: 'dropdown-button', style: 'padding-right: 60px', 'data-activates' => 'menu-user-dropdown' do
                = current_user.email
                = image_tag current_user.profile.avatar_url, class: 'circle', style: "width: 40px; right: 10px; top: 10px; position: absolute;"
                %span.caret
              %ul#menu-user-dropdown.dropdown-content
                %li= link_to t('devise.profile'), current_user
                .divider
                %li= link_to t('devise.sign_out'), destroy_user_session_path, method: :delete

    .container
      - if notice
        %p.alert.alert-info= notice
      - if alert
        %p.alert.alert-danger= alert

      = yield

    #modal.modal
