= simple_form_for resource do |f|
  .row= f.input :name
  .row= f.input :description

  .row= f.input :avatar, label: false, wrapper_html: { class: 'file-field input-field' }

  = render 'vcards/form', f: f

  .row
    .col.s12= f.button :submit

.divider
.section
  = render 'teams/list', collection: resource.teams
  - if resource.user
    = render 'users/list', collection: [ resource.user ]

