%li
  .collapsible-header
    .collection-item.avatar
      = image_tag member.avatar_url, class: 'circle'
      .title= member.to_s
      %p
        = member.description
      .secondary-content
        - if can?(:edit, member) && 'members' == controller_name
          .fixed-action-btn.horizontal
            = link_to edit_member_path(member), class: "btn-floating btn-large green" do
              %i.large.material-icons mode_edit
  .collapsible-body
    = render 'vcards/collapsible', vcard: member.vcard
