.col.s12.m6.l4
  .card.large.z-depth-2
    .card-image.waves-effect.waves-block.waves-light
      - if member.avatar_url
        = image_tag member.avatar_url, class: :activator
      - else
        %i.material-icons.img-placeholder person_outline
    .card-content
      %span.card-title.activator
        = member
      .divider
      %p
        = link_to member.team, member.team
      %p
        = member.description
    - if can? :edit, member
      .card-action
        = link_to 'edit', edit_member_path(member) if can? :edit, member
