.header
  %h2= t_model(resource_class)
  %div(style="position: relative")
    .fixed-action-btn.horizontal
      = link_to url_for(action: :new), class: "btn-floating btn-large blue" do
        %i.large.material-icons add

- if resource_class.respond_to?(:by_text)
  = render 'list_search'

%ul.collection.collapsible
  - collection.each do |member|
    %li
      .collapsible-header
        .collection-item.avatar
          = image_tag member.avatar_url, class: 'circle'
          .title= link_to member.to_s, member
          %p
            = member.description
          .secondary-content
            - if can? :edit, member
              = link_to(edit_member_path(member)) do
                %i.material-icons mode_edit
            - if can? :delete, member
              = link_to member, method: :delete, data: { confirm: 'Are you sure?' } do
                %i.material-icons delete
      .collapsible-body
        = render 'vcards/collapsible', vcard: member.vcard


= paginate collection
