.header
  %h2= t_model(resource_class)
  %div(style="position: relative")
    .fixed-action-btn.horizontal
      = link_to url_for(action: :new), class: "btn-floating btn-large blue" do
        %i.large.material-icons add

- if resource_class.respond_to?(:by_text)
  = render 'list_search'

%ul.collection.collapsible
  - collection.each do |member|
    %li
      .collapsible-header
        .collection-item.avatar
          = image_tag member.avatar_url, class: 'circle'
          .title= member.to_s
          %p
            = member.description
          .secondary-content
            - if can? :edit, member
              .fixed-action-btn.horizontal
                = link_to edit_member_path(member), class: "btn-floating btn-large green" do
                  %i.large.material-icons mode_edit
      .collapsible-body
        = render 'vcards/collapsible', vcard: member.vcard


= paginate collection
